@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-container {
    padding-left: 14rem;  /* Default padding */
    padding-right:14rem; /* Default padding */
  }
}

@media (max-width: 1024px) {
  .px-container {
    padding-left: 6rem;  /* Adjust values as needed */
    padding-right: 6rem; /* Adjust values as needed */
  }
}

@media (max-width: 640px) {
  .px-container {
    padding-left: 4rem;  /* Adjust values as needed */
    padding-right: 4rem; /* Adjust values as needed */
  }
}

@media (max-width: 480px) {
  .px-container {
    padding-left: 2rem;  /* Adjust values as needed */
    padding-right: 2rem; /* Adjust values as needed */
  }
}

@media (max-width: 360px) {
  .px-container {
    padding-left: 1.5rem;  /* Adjust values as needed */
    padding-right: 1.5rem; /* Adjust values as needed */
  }
}

/* Your color scheme and other utility classes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Other utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



section {
  @apply px-container;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add this to your CSS file */
.active {
  border-bottom: 3px solid white; /* Adjust thickness as needed */
}
/* Add this to your CSS file */
.active {
  border-bottom: 3px solid white; /* Adjust thickness as needed */
}

/* Add transition effect for smooth animation */
ul li {
  transition: border-bottom 0.3s ease;
}




