@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .px-container {
    padding-left: 6rem;  /* Default padding */
    padding-right:6rem; /* Default padding */
  }
}

@media (max-width: 640px) {
  .px-container {
    padding-left: 4rem;  /* Adjust values as needed */
    padding-right: 4rem; /* Adjust values as needed */
  }
}

@media (max-width: 480px) {
  .px-container {
    padding-left: 1rem;  /* Adjust values as needed */
    padding-right: 1rem; /* Adjust values as needed */
  }
}

@media (max-width: 360px) {
  .px-container {
    padding-left: 0.5rem;  /* Adjust values as needed */
    padding-right: 0.5rem; /* Adjust values as needed */
  }
}

/* Your color scheme and other utility classes */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Other utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



section {
  @apply px-container;
}

